<!DOCTYPE html>
<html>
  <head>
    <title>WizeClip</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="content">
      <center>
        <img
          src="https://cdn.wizeline.com/uploads/2023/01/Logo-1200.png"
          width="500"
          height="600"
        />
        <h1>To start, upload a clip to post</h1>
        <h2>You can make it on our Live Video Segmentation Tool</h2>
        <form action="/social" method="POST">
          <input type="file" id="myFile" name="filename" />
          <input type="submit" />
        </form>
      </center>
    </div>
  </body>
</html>
